@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fixes for Asciidoc when using Tailwind typography */
@layer components {
  .prose ul > li > p {
    margin: 0;
  }
  .prose table > tbody > tr > td > p {
    margin: 0;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  @apply mb-3 text-4xl font-extrabold text-black dark:text-white;
}
h2 {
  @apply mb-20 text-center text-4xl font-bold text-black dark:text-white;
}
h3 {
  @apply mb-3 text-2xl font-bold text-black dark:text-white;
}
h4 {
  @apply mb-3 text-xl font-bold text-black dark:text-white;
}
h5 {
  @apply mb-3 text-lg font-bold text-black dark:text-white;
}
h6 {
  @apply mb-3 text-sm font-bold text-black dark:text-white;
}

p {
  @apply mb-3 text-gray-700 dark:text-gray-300;
}

.btn {
  @apply inline-flex justify-center py-2 px-4 font-medium text-center rounded-lg text-sm;
}

.technologies {
  @apply bg-gray-200 text-gray-900 dark:bg-gray-700 dark:text-gray-200 text-xs border border-gray-500 px-[0.8em] py-[0.1em];
}

/* THEME TRANSITION */
/* ================ */
/* This makes blobity magnetic effect lag by this transition time */
/* So, we are going to avoid things blobity likes like anchors and buttons */
/* BUG: This also makes an initial background transition from white
* This means, every reload is a flashbang with this enabled */
/* main, section, article, div, svg, li {
  @apply transition-all duration-[500ms];
} */
